:root {
	font-family: 'Jost', sans-serif;
	--color-primary: #ff7f11;
	--color-secondary: #2e294e;
	--color-tertiary: #1b998b;
	--color-other: #c5d86d;
	--color-lightgrey: #eee;
	--color-darkgrey: #333;
}
